<!DOCTYPE html>
<html>
  <head>
    <title>Memory Puzzle</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <h1>Memory Matrix 🧠</h1>
    <p id="loading-text"></p>

    <div class="intro">
      <p>Welcome to the Memory Matrix Puzzle!</p>
      <button class="start-button" id="start-btn">Start Puzzle</button>
    </div>

    <div class="grid-container">
      {% for i in range(1, 17) %}
      <button id="btn{{i}}">{{i}}</button>
      {% endfor %}
    </div>

    <script
      type="module"
      src="{{ url_for('static', filename='js/main.js') }}"
    ></script>
  </body>
</html>
