<!DOCTYPE html>
<html>
  <head>
    <title>Memory Puzzle</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <h1>Memory Matrix 🧠</h1>

    <div class="grid-container">
      {% for i in range(1, 17) %}
      <button id="btn{{i}}" onclick="handleClick({{i}})">{{i}}</button>
      {% endfor %}
    </div>

    <script
      type="module"
      src="{{ url_for('static', filename='js/main.js') }}"
    ></script>
  </body>
</html>
