<!--templates/memory.html-->

<!DOCTYPE html>
<html>
  <head>
    <title>Memory Puzzle</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <h1>Memory Matrix 🧠</h1>
    <div id="loading-text" class="loading-text"></div>
    <div id="display-streak" class="display-streak"></div>
    <div id="chances" class="chances"></div>

    <div id="before-starting" class="before-starting">
      <p class="instructions">
        <strong>Instructions</strong>: After clicking 'Start Puzzle' you will be
        directed to a preview of a grid of buttons in which you will see
        flashing buttons; Pay close attention to the exact order in which the
        flashing buttons are turning green and try to memorize at a glance and
        use that memory to click those buttons in that exact order of the
        flashes after the preview is completed!
      </p>
      <button id="start-btn" class="start-button">Start Puzzle</button>
    </div>

    <div id="grid-container" class="grid-container">
      {% for i in range(1, 17) %}
      <button id="btn{{i}}">{{i}}</button>
      {% endfor %}
    </div>

    <div id="result-message" class="result-message"></div>

    <script
      type="module"
      src="{{ url_for('static', filename='js/main.js') }}"
    ></script>
  </body>
</html>
